.git
.gitignore
.idea
.vscode
node_modules
vendor
.env
.env.backup
.env.*
!.env.example
!.env.docker.example
!.env.docker
public/hot
public/storage
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
*.md
docker-compose.override.yml
npm-debug.log
yarn-error.log
